 .required-icon {
  color: red;
  font-size: 11px;
}
  body {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
     font-size: 12px;
    text-align: start;
    line-height: 18px;
    letter-spacing: normal;
}


.welcome-message {
    text-align: center;
    margin-bottom: 20px;
     font-size: 12px;
 
    line-height: 18px;
    letter-spacing: normal;
}

form {
     font-size: 12px;
    text-align: start;
    line-height: 18px;
    letter-spacing: normal;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    max-width:800px;
    margin: 0 auto;
}

label {
    font-size: 12px;
    text-align: start;
    line-height: 2px;
    letter-spacing: normal;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
     font-size: 12px;
    text-align: start;
    line-height: 18px;
    letter-spacing: normal;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
input[type="email"],
select {
     font-size: 12px;
    text-align: start;
    line-height: 18px;
    letter-spacing: normal;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
     font-size: 12px;
    text-align: start;
    line-height: 18px;
    letter-spacing: normal;
    background-color: #355d96;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
     width: 10%;

}

input[type="submit"]:hover {
    background-color: #0176d3;
     font-size: 12px;
    text-align: start;
    line-height: 18px;
    letter-spacing: normal;

}
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-group {
    flex-basis: 48%;
    margin-bottom: 10px;
  }
     @media (max-width: 768px) {
  form {
    max-width: 100%;
    padding: 10px;
  }

  .form-group {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    width: 100%;
  }
}
.hidden {
  display: none;
}